body{
    background-color: black;
}
.hero{
    margin-top: 48px;
    margin-left: 64.5px;
    margin-right: 64.5px;
}
h1{
    font-family: 'Inter', sans-serif;
}
/* .silder{
    width: 800px;
    align-items: center;
    margin: auto;
    margin-top: 24px;
} */