body{
    background-color: black;
}
.hero{
    margin-top: 48px;
    margin-left: 64.5px;
    margin-right: 64.5px;
}

.font{
    font-family: 'Inter', sans-serif;
}
.carousel{
    width: 100%;
    max-width: 800px;
}

.silder{
    width: 100%;
    overflow: hidden;
}

.carousel-item img{
    width: 350px;
    height: 250px;
}
.form{
    box-shadow: 4px 4px 8px gray;
}